<div class="experience-content">
<h2>WEB DEVELOPMENT</h2>
<p>The development of a responsive website using the technologies of HTML, CSS, BOOTSTAP, JAVASCRIPT (JQUERY), DJANGO.
Test version:  <br>
  <a href="http://needapps.pythonanywhere.com/">http://needapps.pythonanywhere.com/</a>
</p><br>
<h2>ANDROID APP DEVELOPMENT</h2>
<p>The development of android apps using the technologies of Java, XML, SQLite database. <br>
My android apps:</p>
<ul>
  <li><a href="https://play.google.com/store/apps/details?id=com.needapps.birds.birdua&hl=uk">Birds of Ukraine</a></li>
  <li><a href="https://play.google.com/store/apps/details?id=com.needapps.ua.reptilesandamphibians">Reptiles and Amphibians of Ukraine</a></li>
</ul>

</div>


